{
  "processors": ["stylelint-processor-html"],
  "extends": [
    "stylelint-config-sass-guidelines"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "no-empty-source": null,
    "scss/dollar-variable-pattern": ["", {
      "ignore": "global"
    }],
    "selector-max-id": 1
  }
}
